.button {
  background-color: #15e21b;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.Employee {
  display: flex;
  box-sizing: border-box;
  width: 60%;
  border: 2px solid black;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: #dededea8;
}
.profilePicture {
  width: 200px;
  height: 200px;
  margin-right: 2rem;
}
ul {
  list-style: none;
}
